    body,
    html {
        margin:0;
        padding:0;
        background: #0a1420;
        color:#FFFFFF;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
    #wrap {
        width:900px;
        margin:0 auto;
    }
    #header {
        padding:5px 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
    }
    h1 {
        margin:0;
        font-size: 1.6em;
    }
    a {
        color: #bcd7dc;
    }
    #nav {
        padding:5px 10px;
    }
    #nav ul {
        margin:0;
        padding:0;
        list-style:none;
    }
    #nav li {
        display:inline;
        margin:0;
        padding:0;
    }
    #main {
        float:left;
        width:810px;
        padding:20px;
        background:#20252b;
        border: 1px solid #e7e7e7;
    }
    h2 {
        margin:0 0 1em;
    }
    #footer {
        clear:both;
        padding:5px 10px;
    }
    #footer p {
        margin:0;
    }
    * html #footer {
        height:1px;
    }

